<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
	</configSections>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>

	<connectionStrings>
		<add name="SQLSBO"
			 connectionString="Data Source=172.31.21.148;Initial Catalog=zDEMO_PINEAPPLE;User Id=carlosmarlos;Password=GTBSAP#2026;"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>

	<appSettings>
		<add key="LogActivo" value="true" />
		<add key="LogRuta" value="Logs\log.txt" />

		<add key="ModoProceso" value="TEST" />
		<add key="ModoProceso2" value="PRD" />
		
		<add key="IntervaloSegundos" value="90" />

		<add key="LinkedServerRamp" value="[10.1.1.114]" />
		<add key="DbBufferRamp" value="[DB_RAMP_BUFF]" />
		<add key="DbRealRamp" value="[RAMP_ENTERPRISE]" />

		<add key="SapServer" value="172.31.21.148" />
		<add key="SapLicenseServer" value="172.31.26.246:30000" />
		<add key="SapLicenseServer__2" value="gtb-app:30000" />
		<add key="SapCompanyDB" value="zDEMO_PINEAPPLE" />
		<add key="SapUser" value="manager" />
		<add key="SapPass" value="M@ster00" />
		<add key="SapDbUser" value="carlosmarlos" />
		<add key="SapDbPass" value="GTBSAP#2026" />

		<add key="SociedadesActivas" value="PIN,GTB" />

		<add key="PIN_DB" value="zDEMO_PINEAPPLE" />
		<add key="PIN_SapUser" value="carlosmarlos" />
		<add key="PIN_SapPass" value="GTBSAP#2026" />

		<add key="GTB_DB" value="zGTB" />
		<add key="GTB_SapUser" value="carlosmarlos" />
		<add key="GTB_SapPass" value="GTBSAP#2026" />

		<add key="PermitirEntregaSencilla" value="false" />

	</appSettings>

	<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        autoReload="true">

		<variable name="rutaLog" value="${basedir}\${appsettings:key=LogRuta:default=Logs\\log.txt}"/>
		<variable name="estaActivo" value="${appsettings:key=LogActivo:default=true}"/>

		<targets>
			<target xsi:type="File"
					name="fileTarget"
					fileName="${rutaLog}"
					layout="${longdate} | ${level:uppercase=true} | ${message} ${exception:format=tostring}"
					archiveFileName="${basedir}\Logs\Archives\log.{#}.txt"
					archiveEvery="Day"
					archiveNumbering="Rolling"
					maxArchiveFiles="7"
					concurrentWrites="true"
					keepFileOpen="false" />

			<target xsi:type="Console" name="consoleTarget"
					layout="${time} | ${level:uppercase=true} | ${message}" />
		</targets>

		<rules>
			<logger name="*" minlevel="Info" writeTo="fileTarget,consoleTarget">
				<filters defaultAction="Ignore">
					<when condition="not ${estaActivo}" action="Ignore" />
				</filters>
			</logger>
		</rules>
	</nlog>

</configuration>